@font-face {
  font-family: Sen;
  src: url("../../assets/fonts/Sen/static/Sen-Regular.ttf"), format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-color: #0b76bc #f8f8f8 !important;
}
:root::-webkit-scrollbar {
  width: 4px;
  background-color: #f8f8f8;
}
:root::-webkit-scrollbar-thumb {
  background-color: #0b76bc;
  border-radius: 4px;
}

body {
  background-color: #fff;
  font-family: Sen, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-family: Sen, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: Sen, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-family: Sen, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: Sen, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
#bri nav {
  transition: opacity ease-in-out 0.3s;
  opacity: 0;
  position: sticky;
  top: -1px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 24px 2vw;
  background: #fff;
  box-shadow: 0px 2px 29px 0px rgba(0, 0, 0, 0.13);
}
#bri nav #nav-section {
  list-style: none;
  display: flex;
  gap: 0 42px;
}
#bri nav #nav-section .nav-section {
  position: relative;
  padding-bottom: 9px;
}
#bri nav #nav-section .nav-section a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bri nav #nav-section .nav-section.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 15px;
  height: 2px;
  background-color: #f36f21;
}
#bri nav #nav-section .nav-section::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  background-color: #f36f21;
  transition: all 0.5s ease-in-out;
}
#bri nav #nav-section .nav-section:hover::before {
  width: 15px;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  #bri nav {
    padding: 24px 100px;
  }
}
@media (min-width: 1366px) {
  #bri nav {
    padding: 24px 100px;
  }
}

#bri .container main #brimo {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
#bri .container main #brimo::before {
  position: absolute;
  z-index: -4;
  content: "";
  background-color: #f8f8f8;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}
#bri .container main #brimo .wrapper-brimo {
  height: max-content;
}
#bri .container main #brimo .wrapper-brimo .body-content {
  padding-top: 24px;
  background: linear-gradient(180deg, #0b76bc 0%, #1989c8 100%);
}
#bri .container main #brimo .wrapper-brimo .body-content .title-section,
#bri .container main #brimo .wrapper-brimo .body-content .description {
  padding: 0 16px;
  color: #fff;
}
#bri .container main #brimo .wrapper-brimo .body-content .title-section {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bri .container main #brimo .wrapper-brimo .body-content .description {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
#bri .container main #brimo .wrapper-brimo .iframe-wrapper {
  width: 100%;
  height: auto;
}
#bri .container main #brimo .wrapper-brimo .iframe-wrapper iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: none;
}
#bri .container main #brimo .mobile-element {
  position: relative;
  bottom: -44px;
  margin: auto;
  margin-top: 32px;
  width: 244px;
  height: auto;
}
#bri .container main #brimo .mobile-element .title-element {
  color: #181118;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#bri .container main #brimo .mobile-element .get-app-wrapper {
  margin-top: 32px;
  display: flex;
  gap: 0 32px;
}
#bri .container main #brimo .mobile-element .herro-img {
  width: 222px;
  height: 220px;
}
#bri .container main #brimo .mobile-element .herro-img img {
  aspect-ratio: 3/5;
}
#bri .container main #brimo .desktop-element {
  display: none;
}
#bri .container main #qlola {
  position: relative;
}
#bri .container main #qlola::before {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  content: "";
  background-image: url(../../assets/img/pattren.png);
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -3;
  background-color: #f8f8f8;
}
#bri .container main #qlola .wrapper-qlola {
  height: max-content;
}
#bri .container main #qlola .wrapper-qlola .body-content {
  padding-top: 24px;
  background: linear-gradient(180deg, #0b76bc 0%, #1989c8 100%);
}
#bri .container main #qlola .wrapper-qlola .body-content .title-section,
#bri .container main #qlola .wrapper-qlola .body-content .description {
  padding: 0 16px;
  color: #fff;
}
#bri .container main #qlola .wrapper-qlola .body-content .title-section {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bri .container main #qlola .wrapper-qlola .body-content .description {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
#bri .container main #qlola .wrapper-qlola .body-content .qlola-list {
  list-style: none;
  padding: 0 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
#bri .container main #qlola .wrapper-qlola .body-content .qlola-list li {
  position: relative;
  padding-left: 32px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
#bri .container main #qlola .wrapper-qlola .body-content .qlola-list li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url(../../assets/icon/check.png);
  background-size: 16px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}
#bri .container main #qlola .wrapper-qlola .iframe-wrapper {
  width: 100%;
  height: auto;
}
#bri .container main #qlola .wrapper-qlola .iframe-wrapper iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: none;
}
#bri .container main #qlola .buat-akun-wrapper {
  margin-top: 64px;
  display: flex;
  gap: 16px 0;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
#bri .container main #qlola .buat-akun-wrapper label {
  color: #181118;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#bri .container main #qlola .buat-akun-wrapper .btn-buat-akun {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f36f21;
}
#bri .container main #qlola .buat-akun-wrapper .btn-buat-akun .ic-call {
  content: url(../../assets/icon/phone-call.png);
}
#bri .container main #wefo {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
#bri .container main #wefo::before {
  position: absolute;
  z-index: -3;
  content: "";
  background-color: #f8f8f8;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}
#bri .container main #wefo .wrapper-wefo {
  height: max-content;
}
#bri .container main #wefo .wrapper-wefo .body-content {
  padding-top: 24px;
  padding-bottom: 24px;
  background: linear-gradient(116deg, #080087 1.65%, #0b0a16 137.56%);
}
#bri .container main #wefo .wrapper-wefo .body-content .title-section,
#bri .container main #wefo .wrapper-wefo .body-content .description {
  padding: 0 16px;
  color: #fff;
}
#bri .container main #wefo .wrapper-wefo .body-content .title-section {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bri .container main #wefo .wrapper-wefo .body-content .description {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-list {
  list-style: none;
  padding: 0 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-list li {
  position: relative;
  padding-left: 32px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-list li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url(../../assets/icon/check.png);
  background-size: 16px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper {
  display: flex;
  gap: 20px 0;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product {
  position: relative;
  width: 343px;
  height: 229px;
  overflow: hidden;
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .title {
  position: absolute;
  left: 17px;
  top: 8px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .sub-title {
  position: absolute;
  bottom: 17px;
  left: 17px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
}
#bri .container main #wefo .wrapper-wefo .body-content .produk-lainnya {
  display: block;
  margin: auto;
  margin-top: 24px;
  color: #fff;
  width: max-content;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #fff;
  transition: color linear 0.5s;
  transition: background-color linear 0.5s;
}
#bri .container main #wefo .wrapper-wefo .body-content .produk-lainnya:hover {
  color: #080087;
  background-color: #fff;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  #bri .container {
    width: 100%;
    display: block;
    margin: auto;
  }
  #bri .container main #brimo {
    margin-top: 100px;
    position: relative;
    display: flex;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #brimo::after {
    position: absolute;
    left: -200px;
    content: "";
    width: 100%;
    height: 720px;
    z-index: -2;
    border-radius: 0px 0px 200px 0px;
    background: linear-gradient(180deg, #0b76bc 0%, #1989c8 100%);
  }
  #bri .container main #brimo .wrapper-brimo {
    position: relative;
    width: 50%;
    height: max-content;
  }
  #bri .container main #brimo .wrapper-brimo .body-content {
    padding-top: 24px;
    background: unset;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .title-section,
  #bri .container main #brimo .wrapper-brimo .body-content .description {
    padding: 0 16px;
    color: #fff;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .title-section {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .description {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  #bri .container main #brimo .wrapper-brimo .iframe-wrapper {
    width: 100%;
    height: auto;
  }
  #bri .container main #brimo .wrapper-brimo .iframe-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: -5px;
    margin: auto;
    margin-top: 32px;
    height: auto;
    width: 100%;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper {
    position: relative;
    margin-top: 32px;
    display: flex;
    justify-content: end;
    gap: 0 32px;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .flex-get-app {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .flex-get-app .title-element {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .qrcode {
    aspect-ratio: 1/1;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .herro-img {
    position: relative;
    bottom: -43px;
    width: 226px;
    height: auto;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .herro-img img {
    aspect-ratio: 1/1;
  }
  #bri .container main #brimo .mobile-element {
    display: none;
  }
  #bri .container main #qlola {
    margin-top: 70px;
    margin-bottom: 64px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #qlola::before {
    background-position: center;
    background-size: cover;
  }
  #bri .container main #qlola::after {
    position: absolute;
    right: -200px;
    content: "";
    width: 100%;
    height: 698px;
    z-index: -2;
    border-radius: 0px 0px 0px 200px;
    background: linear-gradient(113deg, #0465b4 1.75%, #1573bb 47.37%, #308ac7 94.95%, #95dff2 150.22%);
  }
  #bri .container main #qlola .wrapper-qlola {
    position: relative;
    width: 50%;
    height: max-content;
  }
  #bri .container main #qlola .wrapper-qlola .body-content {
    padding-top: 24px;
    background: unset;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .title-section,
  #bri .container main #qlola .wrapper-qlola .body-content .description {
    padding: 0 16px;
    color: #fff;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .title-section {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .description {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list {
    list-style: none;
    padding: 0 16px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list li {
    position: relative;
    padding-left: 32px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url(../../assets/icon/check.png);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
  }
  #bri .container main #qlola .wrapper-qlola .iframe-wrapper {
    width: 100%;
    height: auto;
  }
  #bri .container main #qlola .wrapper-qlola .iframe-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
  }
  #bri .container main #qlola .buat-akun-wrapper {
    position: absolute;
    bottom: -10px;
    right: 1vw;
    margin-top: 64px;
    display: flex;
    gap: 16px 0;
    flex-direction: column;
    align-items: end;
    margin-bottom: 32px;
  }
  #bri .container main #qlola .buat-akun-wrapper label {
    color: #181118;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #qlola .buat-akun-wrapper .btn-buat-akun {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #f36f21;
  }
  #bri .container main #qlola .buat-akun-wrapper .btn-buat-akun .ic-call {
    content: url(../../assets/icon/phone-call.png);
  }
  #bri .container main #wefo {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #wefo::before {
    position: absolute;
    left: -200px;
    content: "";
    width: 100%;
    height: 698px;
    z-index: -2;
    border-radius: 0px 0px 200px 0px;
    background: var(--Linear, linear-gradient(116deg, #080087 1.65%, #0b0a16 137.56%));
  }
  #bri .container main #wefo .wrapper-wefo {
    position: relative;
    width: 45%;
    height: max-content;
  }
  #bri .container main #wefo .wrapper-wefo .body-content {
    background: unset;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 20px;
    padding: 0 16px;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product {
    position: relative;
    width: 230px;
    height: 154px;
    flex-shrink: 0;
    overflow: hidden;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .title {
    position: absolute;
    left: 17px;
    top: 8px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .sub-title {
    position: absolute;
    bottom: 17px;
    left: 17px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
}
@media (min-width: 1366px) {
  #bri .container {
    width: 1166px;
    display: block;
    margin: auto;
  }
  #bri .container main #brimo {
    position: relative;
    display: flex;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #brimo::after {
    position: absolute;
    left: -200px;
    content: "";
    width: 100%;
    height: 720px;
    z-index: -2;
    border-radius: 0px 0px 200px 0px;
    background: linear-gradient(180deg, #0b76bc 0%, #1989c8 100%);
  }
  #bri .container main #brimo .wrapper-brimo {
    position: relative;
    width: 50%;
    height: max-content;
  }
  #bri .container main #brimo .wrapper-brimo .body-content {
    padding-top: 24px;
    background: unset;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .title-section,
  #bri .container main #brimo .wrapper-brimo .body-content .description {
    padding: 0 16px;
    color: #fff;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .title-section {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #bri .container main #brimo .wrapper-brimo .body-content .description {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  #bri .container main #brimo .wrapper-brimo .iframe-wrapper {
    width: 100%;
    height: auto;
  }
  #bri .container main #brimo .wrapper-brimo .iframe-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    bottom: -5px;
    margin: auto;
    margin-top: 32px;
    height: auto;
    width: 100%;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper {
    position: relative;
    margin-top: 32px;
    display: flex;
    justify-content: end;
    gap: 0 32px;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .flex-get-app {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .flex-get-app .title-element {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .get-app-wrapper .qrcode {
    aspect-ratio: 1/1;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .herro-img {
    position: relative;
    bottom: -40px;
    left: -9vw;
    width: 226px;
    height: auto;
  }
  #bri .container main #brimo .wrapper-brimo .desktop-element .herro-img img {
    aspect-ratio: 1/1;
  }
  #bri .container main #brimo .mobile-element {
    display: none;
    position: relative;
    bottom: -5px;
    margin: auto;
    margin-top: 32px;
    width: 244px;
    height: auto;
  }
  #bri .container main #brimo .mobile-element .title-element {
    color: #181118;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #brimo .mobile-element .get-app-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 0 32px;
  }
  #bri .container main #brimo .mobile-element .herro-img {
    width: 222px;
    height: 220px;
  }
  #bri .container main #brimo .mobile-element .herro-img img {
    aspect-ratio: 3/5;
  }
  #bri .container main #qlola {
    margin-top: 70px;
    margin-bottom: 64px;
    padding-bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #qlola::before {
    background-position: center;
    background-size: cover;
  }
  #bri .container main #qlola::after {
    position: absolute;
    right: -200px;
    content: "";
    width: 100%;
    height: 698px;
    z-index: -2;
    border-radius: 0px 0px 0px 200px;
    background: linear-gradient(113deg, #0465b4 1.75%, #1573bb 47.37%, #308ac7 94.95%, #95dff2 150.22%);
  }
  #bri .container main #qlola .wrapper-qlola {
    position: relative;
    width: 50%;
    height: max-content;
  }
  #bri .container main #qlola .wrapper-qlola .body-content {
    padding-top: 24px;
    background: unset;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .title-section,
  #bri .container main #qlola .wrapper-qlola .body-content .description {
    padding: 0 16px;
    color: #fff;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .title-section {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .description {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list {
    list-style: none;
    padding: 0 16px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list li {
    position: relative;
    padding-left: 32px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  #bri .container main #qlola .wrapper-qlola .body-content .qlola-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url(../../assets/icon/check.png);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
  }
  #bri .container main #qlola .wrapper-qlola .iframe-wrapper {
    width: 100%;
    height: auto;
  }
  #bri .container main #qlola .wrapper-qlola .iframe-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
  }
  #bri .container main #qlola .buat-akun-wrapper {
    position: absolute;
    bottom: 20px;
    margin-top: 64px;
    display: flex;
    gap: 16px 0;
    flex-direction: column;
    align-items: end;
    margin-bottom: 32px;
  }
  #bri .container main #qlola .buat-akun-wrapper label {
    color: #181118;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #qlola .buat-akun-wrapper .btn-buat-akun {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #f36f21;
  }
  #bri .container main #qlola .buat-akun-wrapper .btn-buat-akun .ic-call {
    content: url(../../assets/icon/phone-call.png);
  }
  #bri .container main #wefo {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0 53px;
    width: 100%;
    height: auto;
  }
  #bri .container main #wefo::after {
    position: absolute;
    left: -200px;
    content: "";
    width: 100%;
    height: 698px;
    z-index: -2;
    border-radius: 0px 0px 200px 0px;
    background: var(--Linear, linear-gradient(116deg, #080087 1.65%, #0b0a16 137.56%));
  }
  #bri .container main #wefo .wrapper-wefo {
    position: relative;
    width: 45%;
    height: max-content;
  }
  #bri .container main #wefo .wrapper-wefo .body-content {
    background: unset;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 20px;
    padding: 0 16px;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product {
    position: relative;
    width: 230px;
    height: 154px;
    flex-shrink: 0;
    overflow: hidden;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .title {
    position: absolute;
    left: 17px;
    top: 8px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product .sub-title {
    position: absolute;
    bottom: 17px;
    left: 17px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  #bri .container main #wefo .wrapper-wefo .body-content .wefo-img-wrapper .bri-product img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  #bri .container main #wefo .wrapper-wefo .body-content .produk-lainnya {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
}

#bri .container::before {
  content: "";
  position: absolute;
  z-index: -3;
  top: -18vh;
  left: 0%;
  width: 100%;
  height: 42vh;
  background-image: url(../../assets/img/element-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#bri .container header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
#bri .container header .header-title {
  width: max-content;
  height: auto;
  display: block;
  margin: auto;
  padding: 36px 0;
  color: #181118;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 0.24px;
  text-transform: capitalize;
}
#bri .container header .header-title .header-bg-mobile {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}
#bri .container header .header-title .header-bg-mobile img {
  object-fit: cover;
  object-position: center top;
}
#bri .container header .header-title .header-bg-desktop {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}
#bri .container header .header-title .header-bg-desktop img {
  object-fit: cover;
  object-position: center top;
}
#bri .container header .header-title .berbagi {
  display: flex;
  align-items: center;
  gap: 4px;
}
#bri .container header .header-title .line {
  width: 44px;
  height: 1px;
  background-color: #181118;
}
#bri .container header .header-title .solusi {
  font-weight: 700;
}
#bri .container header .header-title .brand {
  display: flex;
  gap: 0 7px;
}
#bri .container header .header-title .brand img {
  width: 125px;
  height: 47px;
}
#bri .container header .scroll-btn {
  display: none;
  cursor: pointer;
}
#bri .container header ul {
  display: flex;
  width: 100%;
  padding: 0 5vw;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  color: #181118;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#bri .container header ul .banner-section {
  cursor: pointer;
  width: 100%;
}
#bri .container header ul .banner-section a {
  text-decoration: none;
  display: flex;
  gap: 24px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 198px;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
#bri .container header ul .banner-section a:hover {
  border: 1px solid #f36f21;
}
@media (min-width: 713px) and (max-width: 1023px) {
  #bri .container header ul {
    padding: 0 20vw;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  #bri .container header {
    margin-bottom: 85px;
  }
  #bri .container header .header-title {
    width: max-content;
    height: auto;
    display: block;
    margin: auto;
    padding: 36px 0;
    color: #181118;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    text-transform: capitalize;
  }
  #bri .container header .header-title .header-bg-mobile {
    display: none;
  }
  #bri .container header .header-title .header-bg-desktop {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: -200px;
  }
  #bri .container header .header-title .header-bg-desktop img {
    object-fit: cover;
    object-position: center top;
  }
  #bri .container header .header-title .berbagi {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  #bri .container header .header-title .line {
    width: 44px;
    height: 1px;
    background-color: #181118;
  }
  #bri .container header .header-title .solusi {
    font-weight: 700;
  }
  #bri .container header .header-title .brand {
    display: flex;
    gap: 0 7px;
  }
  #bri .container header .header-title .brand img {
    width: 301.007px;
    height: 113.911px;
  }
  #bri .container header .scroll-btn {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-bottom: 48px;
    margin-right: 2vw;
  }
  #bri .container header .scroll-btn .scroll-text {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 0;
    left: var(--left, 0);
    right: var(--right, 0);
    height: 30px;
    overflow: hidden;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  #bri .container header .scroll-btn .scroll-text::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: var(--width, 0px);
    height: 30px;
    left: var(--left, 0);
    right: var(--right, 0);
    background-color: #f7fbff;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.1s;
  }
  #bri .container header .scroll-btn a {
    display: block;
  }
  #bri .container header .scroll-btn a .ic-scroll-down {
    content: url(../../assets/icon/scroll-buttom.png);
  }
  #bri .container header ul {
    list-style: none;
    flex-direction: row;
    width: 100%;
    padding: 0 8vw;
  }
  #bri .container header ul .banner-section {
    width: 33.3333333333%;
  }
  #bri .container header ul .banner-section a {
    width: 100%;
  }
}
@media (min-width: 1366px) {
  #bri .container header {
    margin-bottom: 85px;
  }
  #bri .container header .header-title {
    width: max-content;
    height: auto;
    display: block;
    margin: auto;
    padding: 36px 0;
    color: #181118;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
    text-transform: capitalize;
  }
  #bri .container header .header-title .header-bg-mobile {
    display: none;
  }
  #bri .container header .header-title .header-bg-desktop {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: -200px;
  }
  #bri .container header .header-title .header-bg-desktop img {
    object-fit: cover;
    object-position: center top;
  }
  #bri .container header .header-title .berbagi {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  #bri .container header .header-title .line {
    width: 44px;
    height: 1px;
    background-color: #181118;
  }
  #bri .container header .header-title .solusi {
    font-weight: 700;
  }
  #bri .container header .header-title .brand {
    display: flex;
    gap: 0 7px;
  }
  #bri .container header .header-title .brand img {
    width: 301.007px;
    height: 113.911px;
  }
  #bri .container header .scroll-btn {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-bottom: 48px;
  }
  #bri .container header .scroll-btn .scroll-text {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 0;
    left: var(--left, 0);
    right: var(--right, 0);
    height: 30px;
    overflow: hidden;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  #bri .container header .scroll-btn .scroll-text::after {
    position: absolute;
    z-index: 2;
    content: "";
    width: var(--width, 0px);
    height: 30px;
    left: var(--left, 0);
    right: var(--right, 0);
    background-color: #f7fbff;
    transition: all ease-in-out 0.8s;
    transition-delay: 0.1s;
  }
  #bri .container header .scroll-btn a {
    display: block;
  }
  #bri .container header .scroll-btn a .ic-scroll-down {
    content: url(../../assets/icon/scroll-buttom.png);
  }
  #bri .container header ul {
    list-style: none;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  #bri .container header ul .banner-section {
    width: 33.3333333333%;
    height: 198px;
  }
  #bri .container header ul .banner-section a {
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 712px) {
  #bri .container::before {
    top: 0;
    height: 54vw;
    background-image: url(../../assets/img/element-mobile.png);
  }
}
@media (min-width: 713px) and (max-width: 1023px) {
  #bri .container::before {
    top: -50vh;
    height: 54vw;
    background-image: url(../../assets/img/element-mobile.png);
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  #bri .container::before {
    top: 0;
    height: 54vw;
    background-image: url(../../assets/img/element-desktop.png);
  }
}
@media (min-width: 1366px) {
  #bri .container::before {
    top: 0;
    height: 54vw;
    background-image: url(../../assets/img/element-desktop.png);
  }
}

#bri footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px 66px;
  background-color: #1c1c1c;
}
#bri footer .license {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#bri footer .socmed ul {
  list-style: none;
  display: flex;
  gap: 0 12px;
}
#bri footer .socmed ul li a {
  text-decoration: none;
}
#bri footer .socmed ul li a i {
  width: 32px;
  height: 32px;
}
#bri footer .socmed ul li a .ic-fb {
  content: url(../../assets/img/fb.png);
}
#bri footer .socmed ul li a .ic-tw {
  content: url(../../assets/img/tw.png);
}
#bri footer .socmed ul li a .ic-ig {
  content: url(../../assets/img/ig.png);
}
#bri footer .socmed ul li a .ic-yt {
  content: url(../../assets/img/yt.png);
}
#bri footer .socmed ul li a .ic-tt {
  content: url(../../assets/img/tt.png);
}
@media (min-width: 713px) and (max-width: 1023px) {
  #bri footer {
    justify-content: space-between;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  #bri footer {
    justify-content: space-between;
  }
}
@media (min-width: 1366px) {
  #bri footer {
    justify-content: space-between;
  }
}

.wrapper-card {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.wrapper-card .card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
  padding: 16px;
  margin-bottom: 24px;
}
.wrapper-card .card-body .card {
  width: 343px;
  height: 94px;
  display: block;
  overflow: hidden;
}
.wrapper-card .card-body .card a {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 16px;
}
.wrapper-card .card-body .card a .card-img {
  position: relative;
  min-width: 94px;
  height: 94px;
  overflow: hidden;
}
.wrapper-card .card-body .card a .card-img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
  transform: scale(1);
  transition: transform 1s ease-in-out;
}
.wrapper-card .card-body .card a .card-img img:hover {
  transform: scale(1.2);
}
.wrapper-card .card-body .card a .card-title {
  display: -webkit-box;
  height: 116px;
  color: #181118;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper-card .card-body .card a:hover .card-title {
  color: #080087;
}
.wrapper-card .more-info,
.wrapper-card .more-info-wefo {
  padding: 8px 16px;
  text-decoration: none;
  color: #0b76bc;
  border-radius: 10px;
  border: 1px solid #0b76bc;
}
.wrapper-card .more-info:hover,
.wrapper-card .more-info-wefo:hover {
  background-color: #0b76bc;
  color: #fff;
}
.wrapper-card .more-info-wefo {
  color: #080087;
  border: 1px solid #080087;
  margin-bottom: 24px;
}
.wrapper-card .more-info-wefo:hover {
  background-color: #080087;
}

@media (min-width: 713px) and (max-width: 1023px) {
  .wrapper-card .card-body {
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: unset;
    justify-items: center;
    gap: 16px;
  }
  .wrapper-card .card-body .card {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 277px;
    height: auto;
    overflow: hidden;
  }
  .wrapper-card .card-body .card a {
    flex-direction: column;
    gap: 16px 0;
  }
  .wrapper-card .card-body .card a .card-img {
    width: 100%;
    height: auto;
  }
  .wrapper-card .card-body .card a .card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
  }
  .wrapper-card .card-body .card a .card-title {
    display: -webkit-box;
    height: 66px;
    color: #181118;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .wrapper-card {
    margin-top: 32px;
    width: 50%;
    border-radius: 20px;
    background: #fff;
    backdrop-filter: blur(2.5px);
    padding-bottom: 20px;
    padding-top: 0;
  }
  .wrapper-card .card-body {
    width: 100%;
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: unset;
    justify-items: center;
    gap: 16px;
  }
  .wrapper-card .card-body .card {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 216px;
    height: auto;
    overflow: hidden;
  }
  .wrapper-card .card-body .card a {
    flex-direction: column;
    gap: 16px 0;
  }
  .wrapper-card .card-body .card a .card-img {
    width: 100%;
    height: auto;
  }
  .wrapper-card .card-body .card a .card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
  }
  .wrapper-card .card-body .card a .card-title {
    display: -webkit-box;
    height: 66px;
    color: #181118;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (min-width: 1366px) {
  .wrapper-card {
    margin-top: 32px;
    width: 50%;
    border-radius: 20px;
    background: #fff;
    backdrop-filter: blur(2.5px);
    padding-bottom: 20px;
    padding-top: 0;
  }
  .wrapper-card .card-body {
    width: 100%;
    flex-direction: unset;
    flex-wrap: wrap;
    align-items: unset;
    justify-items: center;
    gap: 16px;
  }
  .wrapper-card .card-body .card {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 254px;
    height: auto;
    overflow: hidden;
  }
  .wrapper-card .card-body .card a {
    flex-direction: column;
    gap: 16px 0;
  }
  .wrapper-card .card-body .card a .card-img {
    width: 100%;
    height: auto;
  }
  .wrapper-card .card-body .card a .card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
  }
  .wrapper-card .card-body .card a .card-title {
    display: -webkit-box;
    height: 66px;
    color: #181118;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.loading {
  position: relative;
}
.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: linear-gradient(90deg, #cac7c7, #f8f8f8, #cac7c7);
  background-size: 200%;
  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}/*# sourceMappingURL=main.css.map */