#bri {
    .container {
        &::before {
            content: "";
            position: absolute;
            z-index: -3;
            top: -18vh;
            left: 0%;
            width: 100%;
            height: 42vh;
            background-image: url(../../assets/img/element-mobile.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        header {
            position: relative;
            top: -50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 32px;

            .header-title {
                width: max-content;
                height: auto;
                display: block;
                margin: auto;
                padding: 36px 0;
                padding-top: 0;
                color: $color-dark;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 36px */
                letter-spacing: 0.24px;
                text-transform: capitalize;

                .header-bg-mobile {
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    left: 0;
                    top: 0;
                    img {
                        object-fit: cover;
                        object-position: center top;
                    }
                }
                .header-bg-desktop {
                    display: none;
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    left: 0;
                    top: 0;
                    img {
                        object-fit: cover;
                        object-position: center top;
                    }
                }

                .berbagi {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                }
                .line {
                    width: 44px;
                    height: 1px;
                    background-color: $color-dark;
                }
                .solusi {
                    font-weight: 700;
                }
                .brand {
                    display: flex;
                    gap: 0 7px;
                    img {
                        width: 125px;
                        height: 47px;
                    }
                }
            }
            .scroll-btn {
                display: none;
                cursor: pointer;
            }
            ul {
                display: flex;
                width: 100%;
                padding: 0 5vw;
                flex-direction: column;
                gap: 16px;
                list-style: none;
                color: $color-dark;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                .banner-section {
                    cursor: pointer;
                    width: 100%;
                    a {
                        text-decoration: none;
                        display: flex;
                        gap: 24px 0;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 198px;
                        padding: 24px;
                        background: $color-white;
                        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
                        // img {
                        //     aspect-ratio: 5/3;
                        // }
                        &:hover {
                            border: 1px solid $color-orange;
                        }
                    }
                }
            }
        }

        @include media.md {
            header {
                ul {
                    padding: 0 20vw;
                }
            }
        }
        @include media.lg {
            header {
                margin-bottom: 85px;
                .header-title {
                    width: max-content;
                    height: auto;
                    display: block;
                    margin: auto;
                    padding: 36px 0;
                    color: $color-dark;
                    font-size: 58px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 36px */
                    letter-spacing: 0.24px;
                    text-transform: capitalize;

                    .header-bg-mobile {
                        display: none;
                    }
                    .header-bg-desktop {
                        display: block;
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        left: 0;
                        top: -200px;
                        img {
                            object-fit: cover;
                            object-position: center top;
                        }
                    }

                    .berbagi {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                    .line {
                        width: 44px;
                        height: 1px;
                        background-color: $color-dark;
                    }
                    .solusi {
                        font-weight: 700;
                    }
                    .brand {
                        display: flex;
                        gap: 0 7px;
                        img {
                            width: 301.007px;
                            height: 113.911px;
                        }
                    }
                }
                .scroll-btn {
                    display: flex;
                    align-self: flex-end;
                    align-items: center;
                    margin-bottom: 48px;
                    margin-right: 2vw;
                    .scroll-text {
                        position: relative;
                        display: flex;
                        flex-shrink: 0;
                        width: 0;
                        left: var(--left, 0);
                        right: var(--right, 0);
                        height: 30px;
                        overflow: hidden;
                        color: #000;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 30px */
                        letter-spacing: 0.2px;
                        text-transform: capitalize;

                        &::after {
                            position: absolute;
                            z-index: 2;
                            content: "";
                            width: var(--width, 0px);
                            height: 30px;
                            left: var(--left, 0);
                            right: var(--right, 0);
                            background-color: #f7fbff;
                            // background-color: red;
                            transition: all ease-in-out 0.8s;
                            transition-delay: 0.1s;
                        }
                    }
                    a {
                        display: block;
                        .ic-scroll-down {
                            content: url(../../assets/icon/scroll-buttom.png);
                        }
                    }
                }
                ul {
                    list-style: none;
                    flex-direction: row;
                    width: 100%;
                    padding: 0 8vw;
                    .banner-section {
                        width: calc(100% / 3);
                        a {
                            width: 100%;
                            // img {
                            //     aspect-ratio: 5/3;
                            // }
                        }
                    }
                }
            }
        }
        @include media.xl {
            header {
                margin-bottom: 85px;
                .header-title {
                    width: max-content;
                    height: auto;
                    display: block;
                    margin: auto;
                    padding: 36px 0;
                    color: $color-dark;
                    font-size: 58px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 36px */
                    letter-spacing: 0.24px;
                    text-transform: capitalize;

                    .header-bg-mobile {
                        display: none;
                    }
                    .header-bg-desktop {
                        display: block;
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        left: 0;
                        top: -200px;
                        img {
                            object-fit: cover;
                            object-position: center top;
                        }
                    }

                    .berbagi {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                    .line {
                        width: 44px;
                        height: 1px;
                        background-color: $color-dark;
                    }
                    .solusi {
                        font-weight: 700;
                    }
                    .brand {
                        display: flex;
                        gap: 0 7px;
                        img {
                            width: 301.007px;
                            height: 113.911px;
                        }
                    }
                }
                .scroll-btn {
                    display: flex;
                    align-self: flex-end;
                    align-items: center;
                    margin-bottom: 48px;
                    .scroll-text {
                        position: relative;
                        display: flex;
                        flex-shrink: 0;
                        width: 0;
                        left: var(--left, 0);
                        right: var(--right, 0);
                        height: 30px;
                        overflow: hidden;
                        color: #000;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 30px */
                        letter-spacing: 0.2px;
                        text-transform: capitalize;

                        &::after {
                            position: absolute;
                            z-index: 2;
                            content: "";
                            width: var(--width, 0px);
                            height: 30px;
                            left: var(--left, 0);
                            right: var(--right, 0);
                            background-color: #f7fbff;
                            // background-color: red;
                            transition: all ease-in-out 0.8s;
                            transition-delay: 0.1s;
                        }
                    }
                    a {
                        display: block;
                        .ic-scroll-down {
                            content: url(../../assets/icon/scroll-buttom.png);
                        }
                    }
                }
                ul {
                    list-style: none;
                    flex-direction: row;
                    width: 100%;
                    padding: 0;
                    .banner-section {
                        width: calc(100% / 3);
                        height: 198px;
                        a {
                            width: 100%;
                            // img {
                            //     aspect-ratio: 5/3;
                            // }
                        }
                    }
                }
            }
        }
    }

    // Container section
    @include media.sm {
        .container {
            &::before {
                top: 0;
                height: 54vw;
                background-image: url(../../assets/img/element-mobile.png);
            }
        }
    }
    @include media.md {
        .container {
            &::before {
                top: -50vh;
                height: 54vw;
                background-image: url(../../assets/img/element-mobile.png);
            }
        }
    }
    @include media.lg {
        .container {
            &::before {
                top: 0;
                height: 54vw;
                background-image: url(../../assets/img/element-desktop.png);
            }
        }
    }
    @include media.xl {
        .container {
            &::before {
                top: 0;
                height: 54vw;
                background-image: url(../../assets/img/element-desktop.png);
            }
        }
    }
}
