#bri {
    .container {
        main {
            #brimo {
                position: relative;
                width: 100%;
                height: auto;
                .wrapper-brimo {
                    height: max-content;
                    .body-content {
                        padding-top: 24px;
                        background: $color-blue-gradient;
                        .title-section,
                        .description {
                            padding: 0 16px;
                            color: $color-white;
                        }
                        .title-section {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                        .description {
                            padding-top: 16px;
                            padding-bottom: 32px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                        }
                    }
                    .iframe-wrapper {
                        width: 100%;
                        height: auto;
                        iframe {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16/9;
                            border: none;
                        }
                    }
                }
                .mobile-element {
                    position: relative;
                    bottom: -5px;
                    margin: auto;
                    margin-top: 32px;
                    width: 244px;
                    height: auto;

                    .title-element {
                        color: $color-dark;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                    .get-app-wrapper {
                        margin-top: 32px;
                        display: flex;
                        gap: 0 32px;
                    }
                    .herro-img {
                        width: 222px;
                        height: 220px;
                        img {
                            aspect-ratio: 3/5;
                        }
                    }
                }
            }
            #qlola {
                .wrapper-qlola {
                    height: max-content;
                    .body-content {
                        padding-top: 24px;
                        background: $color-blue-gradient;
                        .title-section,
                        .description {
                            padding: 0 16px;
                            color: $color-white;
                        }
                        .title-section {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                        .description {
                            padding-top: 16px;
                            padding-bottom: 32px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                        }
                        .qlola-list {
                            list-style: none;
                            padding: 0 16px;
                            padding-bottom: 32px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px 0;
                            li {
                                position: relative;
                                padding-left: 32px;
                                color: $color-white;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 21px */
                                &::before {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    content: "";
                                    background-image: url(../../assets/icon/check.png);
                                    background-size: 16px;
                                    background-repeat: no-repeat;
                                    width: 24px;
                                    height: 24px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }
                    .iframe-wrapper {
                        width: 100%;
                        height: auto;
                        iframe {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16/9;
                            border: none;
                        }
                    }
                }
                .buat-akun-wrapper {
                    margin-top: 64px;
                    display: flex;
                    gap: 16px 0;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 32px;
                    label {
                        color: $color-dark;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                    .btn-buat-akun {
                        text-decoration: none;
                        color: $color-white;
                        display: flex;
                        padding: 12px 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 8px;
                        background: #f36f21;
                        .ic-call {
                            content: url(../../assets/icon/phone-call.png);
                        }
                    }
                }
            }
            #wefo {
                .wrapper-wefo {
                    height: max-content;
                    .body-content {
                        padding-top: 24px;
                        padding-bottom: 24px;
                        background: $color-dark-blue-gradient;
                        .title-section,
                        .description {
                            padding: 0 16px;
                            color: $color-white;
                        }
                        .title-section {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                        .description {
                            padding-top: 16px;
                            padding-bottom: 32px;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 160%;
                        }
                        .wefo-list {
                            list-style: none;
                            padding: 0 16px;
                            padding-bottom: 32px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px 0;
                            li {
                                position: relative;
                                padding-left: 32px;
                                color: $color-white;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 21px */
                                &::before {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    content: "";
                                    background-image: url(../../assets/icon/check.png);
                                    background-size: 16px;
                                    background-repeat: no-repeat;
                                    width: 24px;
                                    height: 24px;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                        .wefo-img-wrapper {
                            display: flex;
                            gap: 20px 0;
                            flex-direction: column;
                            align-items: center;
                            padding: 0 16px;
                            .bri-product {
                                position: relative;
                                width: 343px;
                                height: 229px;
                                overflow: hidden;
                                .title {
                                    position: absolute;
                                    left: 17px;
                                    top: 8px;
                                    color: $color-white;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%; /* 36px */
                                }
                                .sub-title {
                                    position: absolute;
                                    bottom: 17px;
                                    left: 17px;
                                    color: $color-white;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%; /* 24px */
                                }
                                img {
                                    width: 100%;
                                    height: auto;
                                    aspect-ratio: 3/2;
                                    object-fit: cover;
                                }
                            }
                        }
                        .produk-lainnya {
                            display: block;
                            margin: auto;
                            margin-top: 24px;
                            color: $color-white;
                            width: max-content;
                            text-decoration: none;
                            padding: 12px 20px;
                            border-radius: 8px;
                            border: 1px solid $color-white;
                        }
                    }
                }
            }
        }
    }

    @include media.lg {
        .container {
            main {
                #wefo {
                    .wrapper-wefo {
                        .body-content {
                            .wefo-img-wrapper {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                gap: 0 20px;
                                padding: 0 16px;
                                .bri-product {
                                    position: relative;
                                    width: 343px;
                                    height: 229px;
                                    overflow: hidden;
                                    .title {
                                        position: absolute;
                                        left: 17px;
                                        top: 8px;
                                        color: $color-white;
                                        font-size: 24px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 150%; /* 36px */
                                    }
                                    .sub-title {
                                        position: absolute;
                                        bottom: 17px;
                                        left: 17px;
                                        color: $color-white;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%; /* 24px */
                                    }
                                    img {
                                        width: 100%;
                                        height: auto;
                                        aspect-ratio: 3/2;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
